---
import { siteConfig } from "../data/site";
---

<footer class="site-footer">
  <span>
    &copy; {new Date().getFullYear()}
    {siteConfig.name}
    &middot;
    <a href="https://github.com/BNH440/blakehaug.com" target="_blank" rel="noopener noreferrer">Source Code</a>
  </span>
</footer>
