---
import { siteConfig } from "../data/site";

const { current = "" } = Astro.props;
const isHome = current === "";
---

{
  !isHome && (
    <a class="logo" href="/">
      {siteConfig.name}
    </a>
  )
}
