---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "" } = Astro.props;
---

<nav class="main-nav">
  <a class={current === "" ? "selected" : ""} href="/">home</a>
  <a class={current === "about" ? "selected" : ""} href="/about">about</a>
  <a class={current === "blog" ? "selected" : ""} href="/blog">blog</a>
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>
